*{
    color:blueviolet;
}
h1{
    color:aqua;
}
#four{
    color:crimson;
}
.me{
    color:blue;
}
p{
    text-align:right;
}
p1{
    text-align:center;
    color:chartreuse;
}
h1{
    text-align:center;
    text-decoration:orange wavy underline;
     /* text-decoration:underline dotted; } will give u in dotted underline */