div{
    height: 50px;
    width: 50px;
    background-color: blue;

}
@media(width:600px){
    div{
        background-color: blueviolet;
    }
}
@media(max-width:600px){
    div{
        background-color: chartreuse;
    }
}
@media(min-width:150px) and (max-width:350px){
    div{
        background-color: aqua;
    }
}
#one{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: relative;
    top:70px;
    left:350px;
     /* transition-property: all;
    transition-duration: 1.85s;
    transition-timing-function:ease-in-out;
    transition-delay: 0.5s;  */
    transition:all 1.85s ease-in-out 0.5s;
    /* transform: rotate(180deg); */
    rotate: z 90deg;
    /* transform: scale(3); */

}
#one:hover{
    background-color: blue;
    color: cornsilk;
    transform: scaleX(1.75);

}
#one:active{
    background-color: chartreuse;
}
#rodkaakka{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    /* transform:scale(1.75,2) */
}
#rodkaakka:hover{
    transform:scale(1.75,2)
    
}
#h{
    height: 100px;
    width: 100px;
    background-color:brown;
    /* transform: translate(100px,300px); */
    transition: all 1.87s ease-in;
}
#h:hover{
    transform: translate(100px,300px); 
}
#H{height: 100px;
    width: 100px;
background-color: blue;

}
#H:hover{
    transform: skew(45deg);
}