body{
    text-align: center;

}
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    width: 700px;
    height:600px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    /* align-content: center; */
    
    
}
#box2{
    height: 200px;
    flex-grow: 1;  

}
#box3{
    height: 75px;
}
#box5{
    /* align-self: flex-end; */
     /* flex-shrink: 2;  */
     flex-grow: 1;
    /* flex-grow: 10 ;  */
}