#one{
    height: 150px;
    width: 150px;
    /* border:5px solid black;
     */
    /* border-width: 8px;
    border-color: black;
    border-style: solid; */
    border-radius: 50%;
    border: 20px solid aqua;
    border-top: 20px solid orange; 
    animation:identifier 3s linear 1s infinite normal ;
}
    @keyframes identifier {
        from{
            transform:rotate(0deg)
        }
        to{
            transform:rotate(360deg)
    }    }
#h{
    height: 100vh;
    width: 100vw;
    display: flex;
     justify-content: center; 
    align-items: center;
    background-color: greenyellow;
}

