li{
 list-style-type: none;
 display: inline; 


}
ul{
    background-color: bisque;
    display: flex;
    justify-content:space-evenly;
    

}
a{
    text-decoration: none;
    
}
#one{
    height: 300px;
    width:300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items:center;
}
#two{
    height:50px;
    width:50px;
    background-color: blueviolet;
    color: chartreuse;
    /* align-self: center; */
}